<%= render "dashboard/navbar" %>
<div class="container">
  <p>Gradejoy is a simple, intuitive, and easy-to-use gradebook application for teachers and students.</p>
</div> <!--/container -->
</div> <!-- /wrap -->
<%= render "dashboard/footer" %>
