<%= render "dashboard/navbar" %>
<div class="container">
  <p>You can contact Robert Landreaux at robertlandreaux@gmail.com</p>
  <p>You can also find the Gradejoy source code at <%= link_to "here", "https://github.com/robertlandreaux/Gradejoy", :target => "_blank" %>.</p>
</div> <!--/container -->
</div> <!-- /wrap -->
<%= render "dashboard/footer" %>
