    <button class="btn btn-primary btn-sm" type="submit">Add New Student</button>

    <button class="btn btn-primary btn-sm" type="submit">Add Assignment</button>

    <div class="dropdown">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        Classes
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><%= link_to "Spanish I", dashboard_spanish1_path %></li>
      </ul>
    </div>
    </br>
    </br>
    </br>

    <div class="table-responsive">

      <table class="table table-bordered table-hover">
        <tr>
          <th>Student Name</th>
          <th>Student ID</th>
          <th>Test 1</th>
        </tr>

        <tr>
          <td><a href="#">John Smith</a></td>
          <td>107670</td>
          <td>95%</td>
        </tr>

        <tr>
          <td><a href="#">David Ross</a></td>
          <td>107671</td>
          <td>98%</td>
        </tr>
      </table>
    </div>
