<% provide(:title, "Create New Assignment") %>
<h1>Create New Assignment for <%= @course.name %> </h1>

<%= render 'assignments/form' %><br />

<%= link_to 'Back', courses_path, class: "btn btn-primary" %>
