<% provide(:title, "Create and Enroll Student") %>
<h1>Create and Enroll Student in <%= @course.name %></h1>
<br />
<%= render 'form' %><br />

<%= link_to 'Back to Course', course_path, class: "btn btn-primary" %>
