<% provide(:title, "Contact") %>
<h3>Contact Us</h3>
<br />
<p>You can contact Robert Landreaux at robertlandreaux@gmail.com</p>
<p>You can also find the Gradejoy source code <u><%= link_to "here", "https://github.com/robertlandreaux/Gradejoy", :target => "_blank" %></u>.</p>
