<% provide(:title, "Help") %>
<h3>Help</h3><br />
<h4>Frequently Asked Questions</h4>
<ol>
  <li>Q: How do I create an account?</li><br />
  <p>On the Gradejoy homepage, click "Login" at the top right. Then click "Sign Up" on the next page.</p>
</ol>
<br />
<p>If your question was not answered by the information on this page, please fill out the form below and your question will be answered as soon as possible.</p>
<br />
<form class="form-signin" role="form">
<label for="inputEmail" class="sr-only">Email address</label>
<input type="email" id="inputEmail" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Email address" required autofocus>
<br /><br />
<textarea placeholder="This form will not send. Feature still in progress."></textarea>
<br /><br />
<button class="btn btn-primary" type="submit" style="font-size:110%">Submit Question</button>
</form>
