<% provide(:title, "Home") %>
<div class="jumbotron">
  <h2>Experience Gradejoy.</h2>
  <br />
  <p class="lead">Gradejoy is a simple, intuitive, and easy-to-use gradebook application for teachers and students.</p>
  <br />
  <h4>Begin by clicking "Login or Sign up" at the top right of the page.</h4>
  <br /><u><h3>After signing up, please check your email and confirm your email address by clicking on the link in the email. Check your Spam folder if you do not see the email in your Inbox.</h3></u>
  <br /><h2>Gradejoy requires JavaScript to function properly.</h2>
  <br /><h4>This application is still under construction. Many features are still in progress.</h4>
</div>
