<!-- Jumbotron -->
<div class="jumbotron">
  <h2>Experience Gradejoy.</h2>
  <br />
  <p class="lead">Gradejoy is a simple, intuitive, and easy-to-use gradebook application for teachers and students.</p>
  <br />
  <h4>Begin by clicking "Login or Sign up" at the top right of the page.</h4> 
</div>
