<% provide(:title, "NoJS") %>
<h1>You do not have JavaScript enabled in your browser. Please enable JavaScript in order to use Gradejoy. For help, visit <%= link_to "http://enable-javascript.com/", "http://enable-javascript.com/", target: "_blank" %>.</h1>
