<h3>Privacy</h3>
<br />
<p>We will not sell your data. Data from your account will only be used to help improve the application design. If you do not want your account data to be used for improvement purposes, please go to "Account" and uncheck "Use my account data to help improve the Gradejoy application."</p>
