<form class="form-signin" id="forgotemail" role="form">
  <h2 class="form-signin-heading">Retrieve Email Address</h2></br>
  <h5>After your first and last names are submitted, an email will be sent to the email account on file.</h5></br>

  <label for="inputFirstName" class="sr-only">First Name</label>

  <input type="text" id="inputFirstName" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="First Name" required autofocus></br></br>

  <label for="inputLastName" class="sr-only">Last Name</label>

  <input type="text" id="inputLastName" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Last Name" required autofocus></br></br>

  <button class="btn btn-primary btn-md" type="submit" style="font-size:110%">Submit</button>

</form>
</div> <!--container-->
