<%= render "login/navbar" %>
<form class="form-signin" id="forgotemail" role="form">
  <h2 class="form-signin-heading">Reset Password</h2></br>
  <h5>After your email address has been submitted, we will send you an email in which you will find a link to reset your password.</h5></br>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Email address" required autofocus>
  <br />
  <br />
  <button class="btn btn-primary btn-md" type="submit" style="font-size:110%">Submit</button>

</form>
</div> <!--container-->
</div> <!-- /wrap -->
<%= render "login/footer" %>
