<div="container">
<!-- Jumbotron -->
<div class="jumbotron">
  <h2>Experience Gradejoy.</h2>
  <p class="lead">Gradejoy is a simple, intuitive, and easy-to-use gradebook application for teachers and students.</p>
</div>

<form class="form-signin" role="form">
  <h2 class="form-signin-heading">Gradejoy Login</h2> </br>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label></br> </br>
  <input type="password" id="inputPassword" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-primary btn-md" type="submit" style="font-size:110%">Sign in</button>
</br>
</br>
<a href="forgot_email.html">Forgot email address?</a>
</br>
</br>
<a href="forgot_password.html">Forgot password?</a>
</form>

<form class="form-signin" id="new-account" role="form">
  <h2 class="form-signin-heading">Create New Account</h2> </br>

  <label for="inputFirstName" class="sr-only">First Name</label>

  <input type="email" id="inputFirstName" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="First Name" required autofocus></br></br>

  <label for="inputLastName" class="sr-only">Last Name</label>

  <input type="email" id="inputLastName" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Last Name" required autofocus></br></br>

  <label for="inputEmail" class="sr-only">Email address</label>

  <input type="email" id="inputEmail" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Email address" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label></br> </br>

  <input type="password" id="inputPassword" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Password" required>

  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label></br> </br>

  <input type="password" id="inputConfirmPassword" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Confirm Password" required></br></br>

  <button class="btn btn-primary btn-md" type="submit" style="font-size:110%">Create Account</button>
</form>
</div> <!--container-->
