<div class="container">
  <label for="inputPassword" class="sr-only">Password</label></br> </br>

  <input type="password" id="inputPassword" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Password" required>

  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label></br> </br>

  <input type="password" id="inputConfirmPassword" class=".col-xs-12 .col-sm-6 .col-md-8" placeholder="Confirm Password" required></br></br>

  <button class="btn btn-primary btn-md" type="submit" style="font-size:110%">Create Account</button>
</div> <!--/container -->
