<%= render "login/navbar" %>
<div class="container">
  <p>Gradejoy is a free web application service. Accounts which have inappropriate content or are used for ill purposes will be deleted.</p>


</div> <!--/container -->
</div> <!-- /wrap -->
<%= render "login/footer" %>
