<h2>Gradebook</h2>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Course Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, course %></td>
          <td>
            <%= link_to 'Edit', edit_course_path(course) %>
            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Create New Course', new_course_path, class: "btn btn-primary btn-sm", id: "createbutton" %>

<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    Classes
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li></li>
  </ul>
</div>
