/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
  height: 100%;
}

 body {
   padding-top: 5em;
   height: 100%;
   /* MARDI GRAS THEME */ background-color: #D1FFD1;
 }

 img {
   height:1.5em;
   width: 1.5em;
   margin: 1.1em 1em 1em 1em;

 }

/* MARDI GRAS THEME */ .navbar {
   background-color: #E6E6FF;
 }

 .navbar-brand {
   font-size: 160%;
   font-family: Impact, Charcoal, sans-serif;
   padding: .7em;
 }

 .jumbotron {
   text-align: center;
   /* MARDI GRAS THEME */ background-color: #FFFFC4;
 }

 #wrap {
   min-height: 100%;
   height: auto;
   margin: 0 auto 0em auto;
   padding: 0 5% 15% 5%;
 }

 .container {
   padding-right: 2%;
   padding-left: 2%;
 }

 #footer p {
   height: 1em;
   /* MARDI GRAS THEME */ background-color: #E6E6FF;
   padding: 1% 2% 3% 2%;
   text-align: center;
   font-size: .75em;
 }

 .dropdown {
   float: right;
 }

 h3 {
   margin-top: 0;
   padding-top: 0;
 }
