.form-control-inline {
    min-width: 20em;
    width: auto;
    display: inline;
}

#assignment_form {
  text-align: center;
  display:none;
}

#enroll_form {
  text-align: center;
  display:none;
}

#course_form {
  text-align: center;
  display:none;
}

#assignments {
  display:none;
}
