.form-control-inline {
    min-width: 20em;
    width: auto;
    display: inline;
}

.grade-field {
  max-width: 5em;
  width: auto;
  display: inline;
}

#edit_assignment_form, #create_assignment_form, #edit_student_form, #add_grade_form, #edit_grade_form, #enroll_form, #course_form, #category-form {
  text-align: center;
}
