.form-control-inline {
    min-width: 20em;
    width: auto;
    display: inline;
}

#edit_assignment_form, #create_assignment_form, #edit_student_form, #grade_form, #enroll_form, #course_form {
  text-align: center;
}
