<div class="table-responsive" id="categories-table">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Weight</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.category, category,  class: "show-category-buttons",remote: true %></td>
          <td><%= category.weight %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
