<% provide(:title, "Assignment Categories") %>
<h1>Assignment Categories</h1>

<%= render 'categories_table' %>

<br />

<div id="category-buttons"></div>
<br />
<div id="category-form"></div>

<%= link_to 'New Category', new_category_path, class: "btn btn-success", id: "new-category", remote: true %><br /><br />

<%= link_to 'Back to Courses', courses_path, class: "btn btn-primary" %>
